In [1]:
#nested list
l=[10,20,30]
l.reverse()
print(l)

[30, 20, 10]

In [2]:
#revesre the nested list
l=[[10,20,30],[90,33],[988,78]]
l.reverse()
print(l)

[[988, 78], [90, 33], [10, 20, 30]]

In [3]:
#reverse the nested list of each list
l=[[10,20,30],[90,33],[988,78]]
l.reverse()
print(l)
for i in l:
    i.reverse()
print(l)

[[988, 78], [90, 33], [10, 20, 30]]
[[78, 988], [33, 90], [30, 20, 10]]

In [4]:
# l=[[10,20,30],[90,33],[988,78]]
#  expected output l=[[30,20,10],[33,90],[78,988]]
l=[[10,20,30],[90,33],[988,78]]
for i in l:
    i.reverse()
print(l)

[[30, 20, 10], [33, 90], [78, 988]]

In [68]:
# l=[[10,20,30],[90,'surendra'],[988,78],[77,'Rahul']]
# expected output
# l=[[30,20,10],[78,988]]
l=[[10,20,30],[90,'surendra'],[988,78],[77,'Rahul']]
for i in l:
    for j in i:
        if type(j)==str:
            l.remove(i)
print(l)
for i in l:
    i.reverse()
print(l)

[[10, 20, 30], [988, 78]]
[[30, 20, 10], [78, 988]]

In [ ]:
#list comprehension

In [9]:
#1.print o to 10 
l=[i for i in range(10)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
#2
l=[i*i for i in range(6)]
print(l)

[0, 1, 4, 9, 16, 25]

In [11]:
#3
l=[i+10 for i in range(6)]
print(l)

[10, 11, 12, 13, 14, 15]

In [12]:
#4.no is divisible by 2 or not
l=[i for i in range(1,21) if i%2==0]
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [13]:
#5.
l=[i**i for i in range(6)]
print(l)

[1, 1, 4, 27, 256, 3125]

In [16]:
# name=['ashru','satya','samir']
# expected o/p=['a','s','s']
name=['ashru','satya','samir']
l=[i[0] for i in name]
print(l)

['a', 's', 's']

In [17]:
#use slice operator
name=['ashru','satya','samir']
l=[i[0:3] for i in name]
print(l)

['ash', 'sat', 'sam']

In [20]:
#create  a new list by adding the element which is containing letter a
names=['surendra','priyanka','zini','rahil']
l=[i for i in names if 'a' in i]
print(l)

['surendra', 'priyanka', 'rahil']

In [22]:
#create a new list just add all the element but if the element is priyanka dont add it instead of priyanka add hello
names=['surendra','priyanka','zini','rahil']
l=[i if i!='priyanka' else 'hello' for i in names]
print(l)

['surendra', 'hello', 'zini', 'rahil']

In [24]:
#create  a list from tuple
t=(10,20,30,40)
l=[i for i in t ]
print(l)

[10, 20, 30, 40]

In [26]:
#create a list from string
name='ashru'
l=[i for i in name]
print(l)

['a', 's', 'h', 'r', 'u']

In [29]:
#creation of matrix using list comprehension
m=[[j for j in range(3)] for i in range(3)]
print(m)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
#tuple data structure

In [2]:
#print the output
t=(23,33,43,53,63)
a,b,*c=t
print(a,b,c)

23 33 [43, 53, 63]

In [3]:
#print the output
t=(23,33,43,53,63)
a,*c,b=t
print(a,c,b)

23 [33, 43, 53] 63

In [4]:
#print the output
t=(23,33,43,53,63)
*c,b=t
print(c,b)

[23, 33, 43, 53] 63

In [5]:
#print the output
t=(23,33,43,53,63)
*c,b,d=t=t
print(c,b,d)

[23, 33, 43] 53 63

In [8]:
x,y='12'
print(x)
print(y)
print(type(x))
y,z='34'
print(x)
print(y)
print(z)
print(x+y+z)
print(type(x+y+z))

1
2
<class 'str'>
1
3
4
134
<class 'str'>

In [31]:
#creation of empty tuple
t=()
print(t)
print(type(t))

()
<class 'tuple'>

In [32]:
#creation of  tuple with single value
t=(23,)
print(t)
print(type(t))

(23,)
<class 'tuple'>

In [33]:
#creation of  tuple with different data item
t=(23,'ashru',34.33,True)
print(t)
print(type(t))

(23, 'ashru', 34.33, True)
<class 'tuple'>

In [34]:
#creation of  tuple without using parathensis
t=23,'ashru',34.33,True
print(t)
print(type(t))

(23, 'ashru', 34.33, True)
<class 'tuple'>

In [35]:
#creation of tuple using tuple
l=[10,20,30,40]
t=tuple(l)
print(t)
print(l)
print(type(t))

(10, 20, 30, 40)
[10, 20, 30, 40]
<class 'tuple'>

In [36]:
#tuple with range
t=tuple(range(10))
print(t)
print(type(t))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

In [37]:
#tuple with string
t=tuple('ashru')
print(t)
print(type(t))

('a', 's', 'h', 'r', 'u')
<class 'tuple'>

In [38]:
#accessing by index
t=(10,20,30,40)
print(t[0])
print(t[1])
print(t[77])

10
20

IndexError: tuple index out of range

In [39]:
#accessing by slice operator
t=(10,20,30,40)
print(t[::])
print(t[:2])
print(t[::2])

(10, 20, 30, 40)
(10, 20)
(10, 30)

In [40]:
#concatenation operation
t=(10,20,30,40)
p=(24,25,34,44)
r=(20,50,38,54)
a=t+p+r
print(a)

(10, 20, 30, 40, 24, 25, 34, 44, 20, 50, 38, 54)

In [41]:
#repetition operation
t=(10,20,30,40)
a=t*3
print(a)

(10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40)

In [42]:
#traversing using for loop
t=(10,20,30,40)
for i in t:
    print(i)

10
20
30
40

In [43]:
#traversing using for loop
t=(10,20,30,40)
i=0
while i<len(t):
    print(t[i])
    i=i+1

10
20
30
40

In [45]:
#index()
t=(10,20,30,40)
print(t.index(10))

0

In [46]:
#count
t=(10,20,30,40)
print(t.count(10))

1

In [48]:
#len()
t=(10,20,30,40)
print(len(t))

4

In [49]:
#min()
t=(10,20,30,40)
print(min(t))

10

#max()
t=(10,20,30,40)
print(max(t))

In [51]:
#sorted()
e=(12,11,34,23,21,45,1)
t=sorted(e)
print(t)

[1, 11, 12, 21, 23, 34, 45]

In [53]:
#packing
a=10
b=20
c=30
d=40
e=50
t=a,b,c,d,e
print(t)

(10, 20, 30, 40, 50)

In [55]:
#unpacking
t=(10,20,30,40)
a,b,c,d=t
print(a,b,c,d)

10 20 30 40

In [ ]:
nested tuple
t=((23,'ashru',24.5),(23,'daka',23.6))
print(t[0])
print(t[0][1])

In [1]:
#l=['aba','aca','bbc','ckk','ijk','mtk','bsp','dsp']
#expected output-['abaaba','acaaca','bbcbbcbbc','ckkckkckkckk','bspbspbsp']
l=['aba','aca','bbc','ckk','ijk','mtk','bsp','dsp']
t=[]
for i in l:
    if 'a' in i:
        t.append(2*i)
    elif 'b' in i:
        t.append(3*i)
    elif 'c' in i:
        t.append(4*i)
print(t)

['abaaba', 'acaaca', 'bbcbbcbbc', 'ckkckkckkckk', 'bspbspbsp']