# DATATYPE

In [1]:
#import the keyword and how manny keyword is present in python
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [4]:
#find out the value
x=10+10*3
print(x)

40

In [6]:
#Tell the output
name="dipu"
age=21
bnk_balance=299877.09
isMarried=False
print(name)
print(age)
print(bnk_balance)
print(type(isMarried))

dipu
21
299877.09
<class 'bool'>

In [7]:
#Tell the output
name="chinmay"
age=55
bank_balance=55
print(id(name))
print(id(age))
print(id(bank_balance))

3077070450672
140736219093480
140736219093480

In [8]:
#Tell the output
k=100
print(k)
del k
print(t)

100

NameError: name 't' is not defined

In [9]:
#Tell the output
m=23
print(m)
l=m
print(l)
print(id(l))
print(id(m))

23
23
140736219092456
140736219092456

In [10]:
#Tell the output
a=1
b=True
print(id(a))
print(id(b))

140736219091752
140736217623072

In [11]:
#Tell the output
a=1
b=True
print(a==b) #check value

True

In [12]:
#Tell the output
a=1
b=True
print(a is b) #check address

False

In [13]:
#Tell the output
x=10+34j
y=10+34j
print(x==y)
print(x is y)
print(id(x))
print(id(y))

True
False
3077086880240
3077086880688

In [14]:
#Tell the output
x=1
y=True
x=x*y
print(id(x))
print(id(y))
print(id(x))

140736219091752
140736217623072
140736219091752