In [1]:
#Tell the output
age=26
bal=1500.00
name='surendra'
print(name)
print(type(name))

surendra
<class 'str'>

In [2]:
#Tell the output
name="ashru"
print(name)

ashru

In [3]:
#Tell the output
name='''daka'''
print(name)

daka

In [4]:
#Tell the output
address="""
     name:bbsr
     pin:751021
     lane:7
     place:niladri vihar
"""
print(address)

     name:bbsr
     pin:751021
     lane:7
     place:niladri vihar

In [5]:
#Tell the output
name='Ashru'
print(len(name))

5

In [7]:
#Tell the output
name="""
aaa
bbbbb
cc
"""
print(len(name))

14

In [8]:
#Tell the output
name=""""""
print(len(name))

0

In [9]:
#Tell the output
name="""
"""
print(len(name))

1

In [10]:
#Tell the output
name="""


"""
print(len(name))

3

In [11]:
#Tell the output
name=' '
print(len(name))

1

In [13]:
#Tell the output
name="Ashru"
print(name)
print(name[0])
print(name[-2])
print(name[1])

Ashru
A
r
s

In [20]:
#Tell the output
msg="good morning"
low=msg[0]
high=msg[-1]
print(low)
print(high)

g
g

In [21]:
#Tell the output
name="surendra"
print(id(name))
print(id(name[0]))
print(id(name[1]))
print(id(name[2]))
print(id(name[7]))
print(id(name[-1]))

2038453048496
140736499043056
140736499043168
140736499043000
140736499042048
140736499042048

In [22]:
#Tell the output
name='Ashru'
title='Pradhan'
print(name+title)

AshruPradhan

In [23]:
#Tell the output
name='Ashru'
mark=2
print(name+mark)

TypeError: can only concatenate str (not "int") to str

In [24]:
#Tell the output
name='ashru'
mark='10'
print(name+mark)

ashru10