In [1]:
#print the value of a and b
a=100
b=200
print(a,b)

100 200

In [2]:
print('a','b')

a b

In [3]:
print('a'+'b')

ab

In [4]:
#sum the value of a and b
print(a+b)

300

In [5]:
print('a is ',a)

a is  100

In [6]:
print('a is ',a,'b is ',b)

a is  100 b is  200

In [8]:
print(f'a is {a} b is {b}')

a is 100 b is 200

In [10]:
print('a is {a} b is {b} ')

a is {a} b is {b}

In [11]:
print(f'a is {a*a} b is {b*b}')

a is 10000 b is 40000

In [ ]:
#nested while loop

In [1]:
#print the value of i and j
i=1
while i<=3:
    j=1
    while j<=3:
        print(f'i={i} j={j}')
        j=j+1
    i=i+1

i=1 j=1
i=1 j=2
i=1 j=3
i=2 j=1
i=2 j=2
i=2 j=3
i=3 j=1
i=3 j=2
i=3 j=3

In [2]:
#print the multiplication of i*j
i=1
while i<=3:
    j=1
    while j<=3:
        print(f'i*j={i*j}')
        j=j+1
    i=i+1

i*j=1
i*j=2
i*j=3
i*j=2
i*j=4
i*j=6
i*j=3
i*j=6
i*j=9

In [3]:
#print the value
i=1
while i<=3:
    j=1
    while j<=3:
        print(f'{i}*{j}={i*j}')
        j=j+1
    i=i+1

1*1=1
1*2=2
1*3=3
2*1=2
2*2=4
2*3=6
3*1=3
3*2=6
3*3=9

In [2]:
#print the pattern
#[ *
#  *
#  * 
#  **
#  **
#  **
#  ***
#  ***
#  ***]

i=1
while i<=3:
    j=1
    while j<=3:
        print(f"{i*'*'}")
        j=j+1
    i=i+1

*
*
*
**
**
**
***
***
***

In [7]:
#print the star pattern
i=1
while i<=3:
    j=1
    while j<=3:
        print(f'{j*"*"}')
        j=j+1
    i=i+1

*
**
***
*
**
***
*
**
***

In [8]:
#print the pattern
i=1
while i<=3:
    j=1
    while j<=3:
        print(f"{i*'#'}{j*'*'}")
        j=j+1
    i=i+1

#*
#**
#***
##*
##**
##***
###*
###**
###***

In [9]:
#print the multiple of 2 to 5
i=2
while i<=25:
    j=1
    while j<=10:
        print(f'{i}*{j}={i*j}')
        j=j+1
    print('______________')
    i=i+1

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
______________
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
______________
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
______________
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
______________
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60
______________
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70
______________
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80
______________
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90
______________
10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90
10*10=100
______________
11*1=11
11*2=22
11*3=33
11*4=44
11*5=55
11*6=66
11*7=77
11*8=88
11*9=99
11*10=110
______________
12*1=12
12*2=24
12*3=36
12*4=48
12*5=60
12*6=72
12*7=84
12*8=96
12*9=108
12*10=120
______________
13*1=13
13*2=26
13*3=39
13*4=52
13*5=65
13*6=78
13*7=91
13*8=104
13*9=117
13*10=130
______________
14*1=14
14*2=28
14*3=42
14*4=56
14*5=70
14*6=84
14*7=98
14*8=112
14*9=126
14*10=140
______________
15*1=15
15*2=30
15*3=45
15*4=60
15*5=75
15*6=90
15*7=105
15*8=120
15*9=135
15*10=150
______________
16*1=16
16*2=32
16*3=48
16*4=64
16*5=80
16*6=96
16*7=112
16*8=128
16*9=144
16*10=160
______________
17*1=17
17*2=34
17*3=51
17*4=68
17*5=85
17*6=102
17*7=119
17*8=136
17*9=153
17*10=170
______________
18*1=18
18*2=36
18*3=54
18*4=72
18*5=90
18*6=108
18*7=126
18*8=144
18*9=162
18*10=180
______________
19*1=19
19*2=38
19*3=57
19*4=76
19*5=95
19*6=114
19*7=133
19*8=152
19*9=171
19*10=190
______________
20*1=20
20*2=40
20*3=60
20*4=80
20*5=100
20*6=120
20*7=140
20*8=160
20*9=180
20*10=200
______________
21*1=21
21*2=42
21*3=63
21*4=84
21*5=105
21*6=126
21*7=147
21*8=168
21*9=189
21*10=210
______________
22*1=22
22*2=44
22*3=66
22*4=88
22*5=110
22*6=132
22*7=154
22*8=176
22*9=198
22*10=220
______________
23*1=23
23*2=46
23*3=69
23*4=92
23*5=115
23*6=138
23*7=161
23*8=184
23*9=207
23*10=230
______________
24*1=24
24*2=48
24*3=72
24*4=96
24*5=120
24*6=144
24*7=168
24*8=192
24*9=216
24*10=240
______________
25*1=25
25*2=50
25*3=75
25*4=100
25*5=125
25*6=150
25*7=175
25*8=200
25*9=225
25*10=250
______________

In [2]:
#print the multiple of 25 to 2
i=25
while i>=2:
    j=1
    while j<=10:
        print(f'{i}*{j}={i*j}')
        j=j+1
    print('______________')
    i=i-1

25*1=25
25*2=50
25*3=75
25*4=100
25*5=125
25*6=150
25*7=175
25*8=200
25*9=225
25*10=250
______________
24*1=24
24*2=48
24*3=72
24*4=96
24*5=120
24*6=144
24*7=168
24*8=192
24*9=216
24*10=240
______________
23*1=23
23*2=46
23*3=69
23*4=92
23*5=115
23*6=138
23*7=161
23*8=184
23*9=207
23*10=230
______________
22*1=22
22*2=44
22*3=66
22*4=88
22*5=110
22*6=132
22*7=154
22*8=176
22*9=198
22*10=220
______________
21*1=21
21*2=42
21*3=63
21*4=84
21*5=105
21*6=126
21*7=147
21*8=168
21*9=189
21*10=210
______________
20*1=20
20*2=40
20*3=60
20*4=80
20*5=100
20*6=120
20*7=140
20*8=160
20*9=180
20*10=200
______________
19*1=19
19*2=38
19*3=57
19*4=76
19*5=95
19*6=114
19*7=133
19*8=152
19*9=171
19*10=190
______________
18*1=18
18*2=36
18*3=54
18*4=72
18*5=90
18*6=108
18*7=126
18*8=144
18*9=162
18*10=180
______________
17*1=17
17*2=34
17*3=51
17*4=68
17*5=85
17*6=102
17*7=119
17*8=136
17*9=153
17*10=170
______________
16*1=16
16*2=32
16*3=48
16*4=64
16*5=80
16*6=96
16*7=112
16*8=128
16*9=144
16*10=160
______________
15*1=15
15*2=30
15*3=45
15*4=60
15*5=75
15*6=90
15*7=105
15*8=120
15*9=135
15*10=150
______________
14*1=14
14*2=28
14*3=42
14*4=56
14*5=70
14*6=84
14*7=98
14*8=112
14*9=126
14*10=140
______________
13*1=13
13*2=26
13*3=39
13*4=52
13*5=65
13*6=78
13*7=91
13*8=104
13*9=117
13*10=130
______________
12*1=12
12*2=24
12*3=36
12*4=48
12*5=60
12*6=72
12*7=84
12*8=96
12*9=108
12*10=120
______________
11*1=11
11*2=22
11*3=33
11*4=44
11*5=55
11*6=66
11*7=77
11*8=88
11*9=99
11*10=110
______________
10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90
10*10=100
______________
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90
______________
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80
______________
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70
______________
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60
______________
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
______________
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
______________
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
______________
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
______________

In [3]:
#print the number from 1 to 10
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#while with break

In [4]:
#find out the output of this progrm
i=1
while i<=10:
    if i==5:
        print(i)
        break
    i=i+1

5

In [5]:
#find out the output of this progrm
i=1
while i<=10:
    print(i)
    if i==5:
        break
    i=i+1

1
2
3
4
5

In [6]:
##find out the output of this progrm
i=1
while i<=10:
    if i==5:
        break
    print(i)
    i=i+1

1
2
3
4

In [7]:
#print the value of i and j
i=1
while i<=3:
    j=1
    while j<=3:
        print(f'i={i} j={j}')
        if j==2:
            break
        j=j+1
    i=i+1

i=1 j=1
i=1 j=2
i=2 j=1
i=2 j=2
i=3 j=1
i=3 j=2

In [9]:
#print the value of i and j
i=1
while i<=4:
    j=1
    while j<=3:
        if j==2:
            break
        print(f'i={i} j={j}')
        j=j+1
    i=i+1

i=1 j=1
i=2 j=1
i=3 j=1
i=4 j=1

In [10]:
#print the value of i and j
i=1
while i<=5:
    j=1
    while j<=3:
        print(f'i={i} j={j}')
        if j==2:
            break
        print(f'i={i} j={j}')
        j=j+1
    i=i+1

i=1 j=1
i=1 j=1
i=1 j=2
i=2 j=1
i=2 j=1
i=2 j=2
i=3 j=1
i=3 j=1
i=3 j=2
i=4 j=1
i=4 j=1
i=4 j=2
i=5 j=1
i=5 j=1
i=5 j=2

In [ ]:
#while with continue

In [1]:
#print the value from 1 to 10 using continue
i=1
while i<=10:
    print(i)
    i=i+1
    if i==7:
        continue

1
2
3
4
5
6
7
8
9
10

In [2]:
#print the output of this program
i=1
while i<=6:
    print(i)
    i=i+1
    if i==3:
        continue
    print('hello')

1
hello
2
3
hello
4
hello
5
hello
6
hello

In [1]:
#tell the output
i=1
while i<=6:
    print(i)
    i=i+1
    if i==3:
        continue
    print(i)

1
2
2
3
4
4
5
5
6
6
7

In [ ]:
#while with pass

In [2]:
a=10
if a>=50:
    pass
else:
    print('namaste')

namaste

In [6]:
#using while with find out the output oof this program
v=1
while v<=5:
    if v%2==0:
         pass
    else:
        print(v)
    v=v+1

1
3
5

In [7]:
#using while with find out the output oof this programq
x=1
while x<=5:
    if x%2==0:
         print(x)
    else:
        pass
    x=x+1

2
4

In [8]:
#tell the output of this code
v=1
while v<=5:
    if v%2==0:
         pass
    else:
        pass
    v=v+1

In [ ]:
#while else

In [9]:
#tell the output
i=1
while i<=4:
    print(i)
    i=i+1
else:
    print('i m else block')

1
2
3
4
i m else block

In [10]:
#print the output
i=1
while i<=6:
    print(i)
    if i==4:
        break
    i=i+1
else:
    print('i m else block')

1
2
3
4

In [11]:
#print the output
i=1
while i<=4:
    print(i)
    if i==30:
        break
    i=i+1
else:
    print('i m else block')

1
2
3
4
i m else block