In [1]:
#print the output
a="ashru"
for i in a:
    print(i)

a
s
h
r
u

In [3]:
print  each letter with id
a="ashru"
for i in a:
    print(f'{i} {id(i)}')

a 140715712661248
s 140715712662256
h 140715712661640
r 140715712662200
u 140715712662368

In [4]:
#print the output of this program
a="ashru"
for i in a:
    print(f'{i}{id(i)}')
print(i)

a140715712661248
s140715712662256
h140715712661640
r140715712662200
u140715712662368
u

In [5]:
#print the output of this program
for c in 'cinema':
    print(f'{c} {id(c)}')
print(c)

c 140715712661360
i 140715712661696
n 140715712661976
e 140715712661472
m 140715712661920
a 140715712661248
a

In [6]:
#int datatype with loop
n=345
for i in n:
    print(i)

TypeError: 'int' object is not iterable

In [7]:
#str datatype with loop
n='234'
for i in n:
    print(i)

2
3
4

In [1]:
#float datatype with loop
n=34.5
for i in n:
    print(i)

TypeError: 'float' object is not iterable

In [2]:
#bool datatype with loop
p=True
for i in p:
    print(i)

TypeError: 'bool' object is not iterable

In [4]:
#complex datatype with loop
s=10+3j
for i in s:
    print(i)

TypeError: 'complex' object is not iterable

In [5]:
#print the name using for loop
a=['ashru','satya','samir']
for i in a:
    print(i)

ashru
satya
samir

In [7]:
#print  each letter of the word using for loop
a=['ashru','satya','samir']
for i in a:
    for j in i:
      print(j)

a
s
h
r
u
s
a
t
y
a
s
a
m
i
r

In [ ]:
#for with range

In [8]:
for i in range(1,7):
    print(i)

1
2
3
4
5
6

In [9]:
#print the number using for with range
for i in range(10,1,-3):
    print(i)

10
7
4

In [10]:
#print the number using for with range
for i in range(1,7,2):
    print(i)

1
3
5

In [11]:
#print the name using for with range
for i in range(1,7):
    print('ashru')

ashru
ashru
ashru
ashru
ashru
ashru

In [13]:
#print the output
for i in range(1,7):
    if i%2==0:
        print('ashru')
    else:
        print('daka')

daka
ashru
daka
ashru
daka
ashru

In [14]:
#print the value using dynamically using for with range()
a=int(input('enter value for a: '))
b=int(input('enter value for b: '))
for i in range(a,b+1):
    print(i)

enter value for a: 4
enter value for b: 12
4
5
6
7
8
9
10
11
12

In [15]:
#Wap to find out the sum of all natural no.from 1 to 5(5 included)
result=0
for i in range(1,6):
    result=result+i
print(result)

15

In [16]:
result=0
for i in range(1,6):
    result=result+i
    print(result)

1
3
6
10
15

In [17]:
#wap to find factorial of a number
result=1
for i in range(1,6):
    result=result*i
print(result)

120

In [19]:
result=1
for i in range(1,6):
    result=result*i
    print(result)

1
2
6
24
120

In [26]:
result=1
for i in range(1,6):
    print(f'{result}*{i}={result*i}')
    result=result*i

1*1=1
1*2=2
2*3=6
6*4=24
24*5=120

In [27]:
#wap to check a number is prime number or not
factor=0
a=int(input('enter a number check prime or not'))
for i in range(1,a+1):
    if a%2==0:
        factor=factor+1
if factor==2:
    print('prime no')
else:
    print('not prime no')

enter a number check prime or not9
not prime no

In [28]:
#print the * pattern using for loop
for i in range(1,6):
    print(i*'*')

*
**
***
****
*****

In [29]:
#print the * pattern using for loop
for i in range(5,0,-1):
    print(i*'*')

*****
****
***
**
*

In [30]:
#print the * pattern using for loop
for i in range(1,6):
    print(5*'*')

*****
*****
*****
*****
*****

In [ ]:
#for with break

In [31]:
for i in range(1,11):
    if i==5:
        break
    print(i)

1
2
3
4

In [32]:
for i in range(1,11):
    print(i)
    if i==5:
        break

1
2
3
4
5

In [33]:
for i in range(1,11):
    print(i)
    if i==5:
        break
    print(i)

1
1
2
2
3
3
4
4
5

In [35]:
for i in range(1,11):
    print(i)
    if i==5:
        print(i)
        break

1
2
3
4
5
5

In [36]:
for i in range(1,11):
    print(i)
    if i==5:
        print(i)
        break
        print(i)

1
2
3
4
5
5

In [37]:
for i in range(1,11):
    if i%3==0 or i%4==0:
        break
    print(i)

1
2

In [38]:
#print the output
for i in range(1,11):
    if i%3==0 and i%4==0:
        break
    print(i)

1
2
3
4
5
6
7
8
9
10

In [40]:
#print the output
for i in range(1,11):
    if i%3==0 and i%2==0:
        break
    print(i)

1
2
3
4
5

In [43]:
#for with continue
for i in range(1,11):
    if i==6:
       continue
    print(i)

1
2
3
4
5
7
8
9
10

In [45]:
for i in range(1,8):
    print(i)
    if i==6:
       continue

1
2
3
4
5
6
7

In [46]:
for i in range(1,8):
    print(i)
    if i==6:
       continue
    print(i)

1
1
2
2
3
3
4
4
5
5
6
7
7

In [47]:
for i in range(1,7):
    print(i)
    if i==3 or i==5:
       continue
    print(i)

1
1
2
2
3
4
4
5
6
6

In [48]:
for i in range(1,7):
    print(i)
    if i%2==0 and i%3==0:
       continue
    print(i)

1
1
2
2
3
3
4
4
5
5
6

In [ ]:
#for with pass

In [49]:
for i in range(1,9):
    if i%2==0:
        pass
    else:
        print(f'{i} is odd')

1 is odd
3 is odd
5 is odd
7 is odd

In [51]:
for i in range(1,9):
    if i%2==0:
        pass
    else:
        pass
print(i)

8

In [ ]:
#for with else

In [52]:
for i in range(1,6):
    print(i)
else:
    print('i m else block')

1
2
3
4
5
i m else block

In [53]:
for i in range(1,11):
    if i==5:
        break
    print(i)
else:
    print('i m else block')

1
2
3
4

In [ ]:
#nested for loop

In [54]:
name=['ashru','satya','samir']
for i in name:
    for j in i:
        print(j)

a
s
h
r
u
s
a
t
y
a
s
a
m
i
r

In [55]:
name=['ashru']
for i in name:
    for j in i:
        print(j)

a
s
h
r
u

In [58]:
name='ashru'
for i in name:
        print(i)

a
s
h
r
u

In [59]:
name='a'
for i in name:
        print(i)

a

In [62]:
for i in range(1,4):
    for j in range(1,4):
        print(f'{i}    {j}')

1    1
1    2
1    3
2    1
2    2
2    3
3    1
3    2
3    3

In [63]:
for i in range(1,4):
    for j in range(1,4):
        print(f'i={i}  j={j}')

i=1  j=1
i=1  j=2
i=1  j=3
i=2  j=1
i=2  j=2
i=2  j=3
i=3  j=1
i=3  j=2
i=3  j=3

In [64]:
for i in range(1,11):
    print(f'{5}*{i}={5*i}')

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50