In [ ]:
#append()

In [1]:
l=[10,20,30]
print(l)
l.append(34)
print(l)
l.append(54)
print(l)

[10, 20, 30]
[10, 20, 30, 34]
[10, 20, 30, 34, 54]

In [2]:
#append
l=[]
print(l)
l.append(177)
print(l)
l.append(177)
print(id(l[0]))
print(id(l[1]))
l[1]=12
print(id(l[0]))
print(id(l[1]))

[]
[177]
140714741180712
140714741180712
140714741180712
140714741175432

In [3]:
#wap to add an element at end of the list without using append()
l=[10,20,30]
l[4]=28
print(l)

IndexError: list assignment index out of range

In [5]:
#update the list
l=[10,20,30,40]
l[3]=45
print(l)

[10, 20, 30, 45]

In [6]:
#wap to create a list by adding 10 o's
l=[]
for i in range(1,11):
    l.append(0)
print(l)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [8]:
#add the value in l from 0 to 10
l=[]
for i in range(1,11):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
#add the value in l from 0 to 9
l=[]
for i in range(10):
    l.append(i)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
#add the value in l from 1 to 23
l=[]
for i in range(1,23,4):
    l.append(i)
print(l)

[1, 5, 9, 13, 17, 21]

In [12]:
#wap to separate  all the even and odd number and print it
even_list=[]
odd_list=[]
for i in range(100,131):
    if i%2==0:
        even_list.append(i)
    else:
        odd_list.append(i)
print(even_list)
print()
print(odd_list)

[100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130]

[101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129]

In [13]:
#wap to create a list named as str_list by adding all string element from l
l=[10,20,30,'ashru','satya','mongo db',636.3]
str_list=[]
for i in l:
    if type(i)==str:
        str_list.append(i)
print(str_list)

['ashru', 'satya', 'mongo db']

In [15]:
#wap to print the 1st letter of every word and stored in a different list
l=['ashru','satya','chanu']
s=[]
for i in l:
    s.append(i[0])
print(l)
print(s)

['ashru', 'satya', 'chanu']
['a', 's', 'c']

In [16]:
#wap to find out the length of each word
l=['ashru','satya','chanu']
length=[]
for i in l:
    length.append(len(i))
print(l)
print(length)

['ashru', 'satya', 'chanu']
[5, 5, 5]

In [ ]:
#wap to print that string whose letter no is greater than or equal to 5

In [17]:
l=['ashru','satya','chanu','miky','salinm']
s=[]
for i in l:
    if len(i)>=5:
        s.append(i)
print(l)
print(s)

['ashru', 'satya', 'chanu', 'miky', 'salinm']
['ashru', 'satya', 'chanu', 'salinm']

In [19]:
#wap to find out the length of each word
l=['ashru','satya','chandni']
count=0
for i in l:
    l[count]=len(i)
    count=count+1
print(l)

[5, 5, 7]

In [30]:
#wap a program to fin out this output
#l=['surendra','priyanka','rahul','zini']
#l=[4,5,8,8]
l=['surendra','priyanka','rahul','zini']
count=0
for i in l:
    l[count]=len(i)
    count=count+1
l.reverse()
print(l)

[4, 5, 8, 8]

In [20]:
#wap to create a list ddynamicallyby appending data untill press -1
l=[]
while True:
    val=int(input('Enter  a value : '))
    if val==-1:
        break
    l.append(val)
print(l)

Enter  a value : 24
Enter  a value : -34
Enter  a value : -56
Enter  a value : -2
Enter  a value : 3536
Enter  a value : -1
[24, -34, -56, -2, 3536]

In [ ]:
#insert()

In [21]:
l=[10,20,30,40]
print(l)
l.insert(2,45)
print(l)

[10, 20, 30, 40]
[10, 20, 45, 30, 40]

In [22]:
l=[10,20,30,40]
print(l)
l.insert(-20,45)
print(l)

[10, 20, 30, 40]
[45, 10, 20, 30, 40]

In [ ]:
#count()

In [23]:
l=[10,20,30,10,20,10]
print(l.count(10))
print(l.count(20))

3
2

In [24]:
#program to count a number without using count()method
l=[10,20,30,10,20,10]
count=0
num=int(input('Enter a number to check number of occurances: '))
for i in l:
    if i==num:
        count=count+1
print(count)

Enter a number to check number of occurances: 34
0

In [ ]:
#index()

In [25]:
l=[10,20,23,33,23,11,22,44,23]
print(l.index(23))
print(l.index(11))
print(l.index(345))

2
5

ValueError: 345 is not in list

In [29]:
#print  the index of a specified value without using index() method
l=[10,20,23,33,23,11,22,44,23]
val=33
count=0
for i in l:
    if i==val:
        print(count)
        break
    count=count+1

3

In [31]:
# find out the value of index using format string
l=[10,20,23,33,23,11,22,44,23]
val=10
count=0
for i in l:
    if i==val:
        print(f'value is {val} index is {count}')
        break
    count=count+1

value is 10 index is 0

In [33]:
# find out the value of index using format string
l=[10,20,23,33,23,11,22,44,23]
val=23
count=0
for i in l:
    if i==val:
        print(f'value is {val} index is {count}')
    count=count+1

value is 23 index is 2
value is 23 index is 4
value is 23 index is 8

In [ ]:
#remove

In [34]:
l=[10,20,23,33,23,11,22,44,23]
l.remove(23)
print(l)
l.remove(11)
print(l)

[10, 20, 33, 23, 11, 22, 44, 23]
[10, 20, 33, 23, 22, 44, 23]

In [2]:
l=[10,20,23,33,23,11,22,44,23]
l.remove(23)
l.remove(23)
l.remove(23)
print(l)

[10, 20, 33, 11, 22, 44]

In [ ]:
#pop

In [3]:
l=[10,20,30,40]
print(l.pop())
print(l)
print(l.pop(2))
print(l)

40
[10, 20, 30]
30
[10, 20]

In [ ]:
#extend()

In [4]:
oldgf=['c','java','php']
newgf=['AI','ML']
oldgf.extend(newgf)
print(oldgf)
print(newgf)

['c', 'java', 'php', 'AI', 'ML']
['AI', 'ML']

In [5]:
l=[10,20,30]
name='ashru'
l.extend(name)
print(l)

[10, 20, 30, 'a', 's', 'h', 'r', 'u']

In [6]:
l=[10,20,30]
x=(23,34,57)
l.extend(x)
print(l)

[10, 20, 30, 23, 34, 57]

In [7]:
l=[10,20,30]
x=667
l.extend(x)
print(l)

TypeError: 'int' object is not iterable

In [8]:
l=[10,20,30]
x="557"
l.extend(x)
print(l)

[10, 20, 30, '5', '5', '7']

In [ ]:
#reverse()

In [9]:
l=[10,20,30]
l.reverse()
print(l)

[30, 20, 10]

In [10]:
l=[10,20,30]
print(l[::-1])
print(l)

[30, 20, 10]
[10, 20, 30]

In [11]:
l=[10,20,30]
x=l[::-1]
print(x)
print(l)

[30, 20, 10]
[10, 20, 30]

In [13]:
#USES OF S
l=[10,20,30]
l=l[::-1]
print(l)

[30, 20, 10]

In [ ]:
#sort()

In [14]:
l=[15,34,1,37,39736,152]
l.sort()
print(l)

[1, 15, 34, 37, 152, 39736]

In [15]:
#sort in reverse order
l=[15,34,1,37,39736,152]
l.sort(reverse=True)
print(l)

[39736, 152, 37, 34, 15, 1]

In [17]:
#separate the string and integer value
l=['satya','ashru',24,31,12,3]
str_list=[]
int_list=[]
for i in l:
    if type(i)==str:
        str_list.append(i)
    elif type(i)==int:
        int_list.append(i)
print(str_list)
print(int_list)
str_list.sort
int_list.sort()
print(str_list)
print(int_list)

['satya', 'ashru']
[24, 31, 12, 3]
['satya', 'ashru']
[3, 12, 24, 31]

In [ ]:
#clear()

In [18]:
l=[23,33,43,23,53,64,23]
print(l)
l.clear()
print(l)

[23, 33, 43, 23, 53, 64, 23]
[]

In [19]:
#uses del()
l=[10,20,30]
print(l)
del l
print(l)

[10, 20, 30]

NameError: name 'l' is not defined

In [27]:
#clear all the data without usingclear()
l=[10,20,30,10]
for i in l:
    l.pop(i)
print(l)

IndexError: pop index out of range

In [28]:
#clear all the data without usingclear()
l=[10,20,30,10]
for i in l:
    l.pop()
print(l)

[10, 20]

In [31]:
#clear all the data without using clear()
l=[10,20,30,40,10,20]
for i in l:
    l.remove(i)
print(l)

[20, 40, 20]